*{
    margin: 0px;
    padding: 0px;
}
.product_page{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1.5em;
    justify-content: space-between;
    height: 90vh;
    padding-top:10vh;
}
.row1{
    background-color: #fff;
        border-radius: .4em;
    display: flex;
    max-width: 100%;
    align-items: center;
}
.inner_row{
        margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner{
    display: flex;
    width: 80%;
    align-items: center;
}
.row1 img{
    margin: auto;
    max-width: 50%;
}
.name{
    font-weight: bold;
    font-size: 1.3em;
}
.id{
    color: rgb(53, 53, 53);
    font-size: .8em;
    margin-left: .3em;
}
.price{
    width: 20%;
    text-align: center;
    background-color: rgb(72, 236, 86);
    height: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2{
    height: 50%;
}
.desc{
    line-height: 1.5em;
    margin-top: 5%;
}
.row3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
.prompt{
    margin-top: 2em;
    height: 10vh;
    position: absolute;
    top: 0;
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: center;
}
.prompt div:hover{
    cursor: pointer;
}
.prompt div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 3em;
    background: rgb(170, 255, 148);   
    border-radius: 10px; 
}
.row3 button{
    width: 40%;
    border: none;
    height: 3em;
}
.to_cart{
    background-color: rgb(12, 199, 12);
    color: white;
}
 .row3 #see_more{
    width: 40%;
}
.row3 #see_more .see_more{
    border:none;
    background-color: black;
    color: white;
    width: 100%;
    height: 3em;}
/*shop cart shhhhh*/
.row4{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#checkout{
    width: 30%;
    background-color: chartreuse;
    border:none;
}
#see_more{
    border:none;
    background-color: black;
    color: white;
    width: 30%;
    display: flex;
    align-items: center;
}
.see_more{
    border:none;
    background-color: black;
    color: white;
    width: 100%;
    height: 3em;
}
@media screen and (min-width:768px){
    .row1{
    background-color: #fff;
        border-radius: .4em;
    display: flex;
    max-width: 40em;
    align-items: left;
}
.inner_row{
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 40em;
}
.inner{
    font-size: 1em;
    display: flex;
    width: 50%;
    align-items: center;
}
.price{
    font-weight: bold;
    width: 30%;
    text-align: center;
    background-color: rgb(72, 236, 86);
    height: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    max-width: 80%;
    font-size: 1.2em;
    line-height: 1.2em;
}
.row3{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

/*cartitem*/
.row4{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

}