*{
    margin: 0px;
    padding: 0px;
}
.product_page{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1.5em;
    justify-content: space-between;
    height: 90vh;
    padding-top:10vh;
}
.row1{
    background-color: #fff;
        border-radius: .4em;
    display: flex;
    max-width: 100%;
    align-items: center;
}
.inner_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inner{
    display: flex;
    width: 80%;
    align-items: center;
}
.row1 img{
    margin: auto;
    max-width: 50%;
}
.name{
    font-weight: bold;
    font-size: 1.3em;
}
.id{
    color: rgb(53, 53, 53);
    font-size: .8em;
    margin-left: .3em;
}
.price{
    width: 20%;
    text-align: center;
    background-color: rgb(72, 236, 86);
    height: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row2{
    height: 50%;
}
.desc{
    line-height: 1.5em;
    margin-top: 5%;
}
.row3{
    display: flex;
    justify-content: space-between;
}
.row3 button{
    width: 40%;
    border: none;
    height: 3em;
}
.to_cart{
    background-color: rgb(12, 199, 12);
    color: white;
}
.see_more{
    border:none;
    background-color: black;
    color: white;
    width: 70%;
    height: 2em;
    margin: .5em 0em 0em 0em;
}