.shop_cart{
    padding: 5% 0%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
}

.cart_item{
    margin-top: 2em;
    display: flex;
    max-width: 80%;
    height: 20%;
    background-color: #fff;
    align-items: center;
}
.cart_item div{
    width: 100%;
}
.item_pic{
    max-width: 60%;
}

.row_a{
    height: 50%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(175, 175, 175);
}
.row_a p{
    font-weight: bold;
    font-size: .8em;
}
.row_b p{
    font-size: .7em;
    font-weight: normal;
    color: rgb(77, 77, 77);
    width: 40%;
}
.row_b p select{
    width: 100%;
    border: 1px solid  rgb(175, 175, 175);
}
.row_b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 50%;
    max-width: 90%;


}
#details{
    height: 4em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
#cancel{
    width: 20%;
    color: red;
}
.total{
    margin: 1em 0em;
    width: 80%;
    display: flex;
    height: 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.total p{
    margin: .5em 1em;
}
#x{
    color: red;
    font-weight: bold;
    font-size: 1em;
}
.cart_item col img{
    max-width: 50%;
}
@media screen and (min-width:768px){
    .shop_cart{
    padding: 5% 0%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
}
.cart_item{
    margin-top: 2em;
    display: flex;
    max-width: 50%;
    height: 20%;
    background-color: #fff;
    align-items: center;
}
.item_pic{
    max-width: 40%;
}
.total{
    width: 50%;
    
}
.col {
    max-height: 100%;
}

}